In [3]:
print("hello world")

hello world

In [6]:
#들여쓰기를 하면 안됨
30 + 20

50

In [8]:
2**5

32

In [13]:
a = 'Geili'
b = "Sau"
a + " " + b

'Geili Sau'

In [15]:
a.upper()

'GEILI'

In [16]:
b.lower()

'sau'

In [17]:
3/2

1.5

In [19]:
print (3/2)

1.5

In [22]:
a = 1
print (a + 1)

2

In [23]:
a += 1
a

2

In [28]:
a = 3
a = a - 1
a -=1
a

1

In [32]:
a = 10
b = 3
c = 2.3
a/b
float(a)
int(c)

2

In [35]:
#조건문

if 1:
    print("T")
else: 
    print("F")

T

In [38]:
score = 30

if score > 90:
    grade = "A"
elif score > 80:
    grade = "B"
else: grade = "F"
grade

'F'

In [44]:
for i in [1,2,3,4,5]:
    print("hello")

hello
hello
hello
hello
hello

In [47]:
#range는 마지막 숫자 바로 앞까지 리스트를 만들어 줌
#range(0,5) = range(5)
for i in range(0,5):
    print("hello")

hello
hello
hello
hello
hello

In [48]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [50]:
for i in 'abcdef':
    print(i)

a
b
c
d
e
f

In [52]:
for i in ("Apple", "Banana", "Citron"):
    print(i)

Apple
Banana
Citron

In [53]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [55]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [58]:
#for 반복실행횟수를 명확히 알 때, while은 실행횟수가 명확하지 않으나 조건은 알 때 
i=1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [69]:
for i in range(10):
    if i == 5: break
    print(i)
print("STOP")

0
1
2
3
4
5
6
7
8
9
STOP

In [70]:
for i in range(10):
    if i == 5: continue
    print(i)
print("STOP")

0
1
2
3
4
6
7
8
9
STOP

In [75]:
for i in range(10):
    print(i),
else:
    print("STOP")

0
1
2
3
4
5
6
7
8
9
STOP

In [76]:
import math
print(math.sqrt(121))

11.0

In [77]:
math.log10(100)

2.0

In [80]:
a="abcde"
#print(a[3])
a[3]

'd'

In [87]:
color = ["red", "blue", "black"]
color2 = ["green", "yellow", "pink"]
color[0]
color3 = color + color2
color3[5]
len(color3)

6

In [101]:
color.append("white")
color.extend(["red","purple"])
color.remove("white")
color
del color[0:4]
color

['red',
 'purple',
 'white',
 'red',
 'purple',
 'white',
 'red',
 'purple',
 'white',
 'red',
 'purple',
 'white',
 'red',
 'purple',
 'white',
 'red',
 'purple']

In [102]:
a = ["apple",2,4]
a

['apple', 2, 4]

In [103]:
def calculatearea(x,y):
    return x*y

x = 10
y = 20
print("x 값 = ", x)
print("y 값 = ", y)
print("넓이 = ", calculatearea(x,y))
print("finished")

x 값 =  10
y 값 =  20
넓이 =  200
finished

In [107]:
x1 = 10
y1 = 10
calculatearea(x1,y1)

100

In [111]:
def f(x):
    return 2*x+7
def g(x):
    return x**2

x = 2

print(f(x))
print(g(x))
print(f(g(x)))
print(g(f(x)))

11
4
15
121

In [112]:
def say():
    return 'Hi'

In [113]:
a = say()
print(a)

Hi

In [118]:
def sum(a,b):
    print("%d, %d의 합은 %d입니다." % (a,b,a+b))

In [119]:
sum(3,4)

3, 4의 합은 7입니다.

In [120]:
a = sum(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [125]:
a = 1
def vartest(a):
    a = a+1
    
vartest(3)
print(a)

1

In [126]:
#using return
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2